<div class="jumbotron">
  <h1>Relax and Just Breathe</h1>
  <p>Start breathing and keep your focus on today</p>

  <%= link_to 'Create a meditation session', new_meditation_session_path, class: 'btn btn-primary btn-lg' %>
</div>
<p>Make sincronized meditation sessions with your colleagues</p>

<p>
  <%= image_tag 'dog-meditation.jpg', class: 'img-responsive center-block' %>
</p>
