<p>
<i>Peace comes from within. Do not seek it without.</i>
</p>

<p>Congratulations, you have finished your meditation session.</p>

<%= audio_tag('bell.mp3') %>
<audio id="bell" hidden='true' controls>
  <source src="<%= audio_path('bell.mp3') %>"></source>
</audio>


<%= button_tag 'sound', id: 'sound' %>

<script>
  $('#sound').on('click', function() { $('#bell')[0].play(); })
</script>

<%= javascript_include_tag 'meditation_session/finish_session.js' %>
