<p>Congratulations, you have finished your meditation session. Now, remember:</p>
<p><i>Peace comes from within. Do not seek it without.</i></p>

<p><%= link_to 'Go back to home', root_path, class: 'btn btn-info btn-lg btn-block' %></p>

<%= audio_tag('bell.mp3') %>
<audio id="bell" hidden='true' controls>
  <source src="<%= audio_path('bell.mp3') %>"></source>
</audio>
