<h2>Focus...</h2>

<%= form_for @session, url: { action: :update }, remote: true do |f| %>
  <%= f.hidden_field :status, value: :finished %>
  <%= f.submit 'Finish session', id: 'finish-session', class: 'btn btn-warning btn-lg btn-block' %>
<% end %>

<span id='session-duration' data-duration="<%= @session.duration %>">
