<h2 class='text-center'>Focus...</h2>
<h3 class='text-center'><small>A bell will ring when the session finishes.</small></h2>

<%= form_for @session, url: { action: :update }, remote: true do |f| %>
  <%= f.hidden_field :status, value: :finished %>
  <%= f.submit 'Finish session', id: 'finish-session', class: 'btn btn-warning btn-lg btn-block' %>
<% end %>

<span id='session-duration' data-duration="<%= @session.duration %>">
