<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Just Breathe...</h3>
      </div>
      <div class="panel-body">
        <div id="waiting-room">
          <%= render 'waiting_room' %>
        </div>

        <div id="started-room" class="hide">
          <%= render 'started_room' %>
        </div>

        <div id="finished-room" class="hide">
          <%= render 'finished_room' %>
        </div>

        <%= javascript_include_tag 'meditation_session' %>
      </div>
    </div>
  </div>
</div>
